.single-review {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.single-review img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.single-review ul {
    display: flex;
    gap: 5px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #f97316;
}

.single-review ul li svg {
    vertical-align: super;
}

.single-review .title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: -5px 0 4px 0;
}

.single-review .title h5 {
    margin-bottom: 0;
    font-size: 16px;
    text-transform: capitalize;
}

.single-review .title p {
    font-size: 12px;
    color: #999;
    margin-bottom: 0;
}

.single-review p.review-desc {
    font-size: 12px;
    color: #808080;
}

/*====================================*/
/*===========Responsive===============*/
/*====================================*/

@media only screen and (max-width:768px) {

    .reviews .reviews-content {
        flex-direction: column;
    }

}

/* end 768px */